﻿@model PollApp.WebUI.Models.PollViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
   Thanks, your precious input is saved!
</body>
</html>
