﻿@model PollApp.WebUI.Models.PollViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <p>
        Hello. This is polls application.
   </p>
    <ul>    <!--Simply hardcoded links to test polls-->
        <li>
            <a href="@Url.Action("Poll", new {friendlyId = "test"})">Test poll</a>
        </li>
        <li>
            <a href="@Url.Action("Poll", new {friendlyId = "advanced-test"})">Advanced Test poll</a>
        </li>
    </ul>
        
    

</body>
</html>
