﻿@model PollApp.WebUI.Models.PollViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
</head>
<body>
    <h1 data-bind="text:Name">
    </h1>
    
    <div style="display:none" data-bind="visible: true"> @*display none by default, knockout binding applied when loaded, so page displayed initially without artifacts *@

        <div data-bind="ifnot: IsShowFinish">

            <div>Step <span data-bind="text: StepNo"></span> of <span data-bind="text: StepCount"></span></div>
    
            <h2 data-bind="text: ActiveQuestion.Text"></h2>
            <div>
                <!-- ko if: ActiveQuestion.IsSelect -->
                    <select data-bind="options: ActiveQuestion.Options, optionsText: 'Value', value: ActiveQuestion.SelectedOption"></select>
                <!-- /ko -->

                <!-- ko if: ActiveQuestion.IsMultiSelect -->
                    <ul data-bind="foreach:ActiveQuestion.Options">
                        <li>
                            <input type="checkbox" data-bind="attr:{id:'multi' + Key}, checked: Checked" /> 
                            <label data-bind="attr:{for:'multi' + Key}, text: Value" />
                        </li>
                    </ul>
                <!-- /ko -->

                <!-- ko if: ActiveQuestion.IsText -->
                    <textarea data-bind="value: ActiveQuestion.TypedText">
                    </textarea>
                <!-- /ko -->
            </div>

            <div data-bind="visible: IsRequiredWarningVisible" style="color:Red">Answer is required</div>

            <button data-bind="click: NextClick">Next</button>

        </div>

        <div data-bind="if: IsShowFinish">
            <h2>Review your answers</h2>
            <table>
                <thead>
                    <tr>
                        <th>#</th><th>Question</th><th>Answer</th><th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Answers">
                    <tr>
                        <td data-bind="text: StepNo"></td>
                        <td data-bind="text: QuestionText"></td>
                        <td data-bind="text: Value"></td>
                    </tr>    
                </tbody>
            </table>

            <form method="post" action="@Url.Action("SavePollFormSubmit")" data-bind="submit: SaveClick">
                <input type="hidden" name="pollResult" data-bind="value: PollResult" />
                <input type="submit" value="Save" />
            </form>
            
        </div>
    </div>
    <script type="text/javascript">
        var pollModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
    </script>
    <script src="~/Scripts/knockout-2.2.1.debug.js"></script>
    <script src="~/Scripts/App/Poll.js"></script>

</body>
</html>
